<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timestamp Microservice</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">

    <h1 class="text-center">Timestamp Microservice</h1>

    <p>Instructions</p>
    <ol>
        <li> Pass a string as a parameter: either a unix timestamp (10 digits) or a natural language date</li>
        <li> If your string is a valid date, the app will return both the unix timestamp and the natural language form of that date.</li>
        <li> If it is not, the app will return null for both those properties.</li>
    </ol>

    <h2>Example Usage</h2>
    <pre>
        https://timestamp-ms.herokuapp.com/December 15, 2015
        https://timestamp-ms.herokuapp.com/Dec 15 2015
        https://timestamp-ms.herokuapp.com/12 15 1943
        https://timestamp-ms.herokuapp.com/1450137600
    </pre>

    <h2>Example Output</h2>
    <pre>
        { "unix": 1450137600, "natural": "December 15, 2015" }
    </pre>

</body>
</html>